.auth-controls {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.auth-controls-2 {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin-right: 0px;
}

.auth-button {
	align-self: flex-start;
	margin-right: 1em;
	border: 2px solid;
	border-radius: 4px;
	font: inherit;
	font-size: 1.2em;
	padding: .4em 1.2em;
	color: white;
	background-color: green;
}

.auth-button:hover {
	outline:none;
	background-color: #2ECCFA;
}
.auth-button:focus {
	outline: none;
	background-color: green;
}

.auth-button:active {
	border-color: var(--color-border); 
}

.sign-button {
	align-self: flex-start;
	margin-right: 1em;
	border: 2px solid;
	border-radius: 4px;
	font: inherit;
	font-size: 1.2em;
	padding: .4em 1.2em;
	color: white;
	background-color: green;
}

.sign-button:hover {
	outline:none;
	background-color: #2ECCFA;
}
.sign-button:focus {
	outline: none;
	background-color: green;
}

.sign-button:active {
	border-color: var(--color-border); 
}

